# Ignore build/
build/*
*.log
*.aux
*.out
*.toc
*.bbl
*.blg
*.bcf*
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.xdv
*.bak
svg-inkscape/
*.tex~
*.bib~*
*.nav
*.snm
*-blx.bib
*(busy)
*SAVE-ERROR

# Python
*.pyc
__pycache__/
*.egg-info/
*.egg
*.pyo
*.pyd
*.pyc

.env/
.venv/
env/
venv/

Build/
Output/

.vscode/